* {
    margin: 0;
    box-sizing: border-box;
}

/* background-color: rgb(192, 192, 192); */
body {
    background: linear-gradient(to bottom, rgb(12, 66, 7), black);
    background: url("../src/background.jpg") fixed no-repeat center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#logo {
    position: fixed;
    bottom: -90px;
    right: -25px;
}

#container {
    background-color: white;
    width: 60%;
    position: relative;
    top: 20%;
    transform: translateY(-20%);
    height: 90%;
    max-height: 800px;
    margin: 2em auto;
    overflow-y: scroll;
}

#navig {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}


.navdiv {
    padding: 0.7em 0;
    width: 50%;
    float: left;
    text-align: center;
    transition: background-color 0.3s;
}

.navdiv:hover {
    cursor: pointer;
    background-color: rgb(221, 244, 250);
}

#over {
    border-bottom: 2px solid rgb(50, 156, 255);
}



/* Below the navbar */

#heading {
    text-align: center;
    padding-top: 2.5em;
    font-size: 2.5em;
}


#coords {
    width: 100%;
    margin: 0 auto;
}

.coord {
    margin: 2em 0;
    width: 50%;
    float: left;
    text-align: center;
    font-size: 2.5em;
}

#eks, #zet {
    font-size: 0.8em;
}


#eks:focus, #zet:focus {
    background-color: rgb(211, 211, 211);
}

/* Below the coordinate input fields */

#check {
    display: block;
    font-size: 1.5em;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    background-color: white;
    border: 2px solid #008CBA;
    outline: none;
    margin-right: 5%;
    float: right;
}

#check:hover {
    cursor: pointer;
}

#check:active {
    border-color: black;
    color: #008CBA;
}

#baseholder {
    clear: both;
}

#baseholder>h1 {
    text-align: center;
    font-size: 2.5em;
}


.bases {
    padding: 0 5%;
    width: 100%;
    margin: 2em 0;
}

.bases>h2, .bases>p {
    font-size: 1em;
}


#positiveQuote {
    display: block;
    margin: 0 auto 0 auto;
    padding: 10% 0 0.5em 0;
    text-align: center;
    width: 70%;
    font-size: 2em;

    animation-name: load;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#quoteAuthor {
    display: block;
    width: 70%;
    margin: 0 auto;
    font-size: 1em;
    padding: 0 1em;

    animation-name: load;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes load {
    from {opacity: 0;}
    to   {opacity: 1;}
}